:root{
    --frog-margin: 336px;
    --frog-position: fixed;
    --frog-life: 72px;
    /*0px = 1 life, 18px = 2 life*/


}
.bg{
    background-image: url("../img/bg.png");
    width: 672px;
    height: 744px;
    display: flex;
    flex-flow: column;
    transform: scale(1);
}
.game-center{
    display: flex;
    justify-content: center;
}
.frog{
    position: var(--frog-position);
    background: url("../img/frog_0.png");
    align-self: flex-end;
    width: 48px;
    height: 48px;
    margin-left: var(--frog-margin)
}
.bg .row {
    height: 48px;
    display: flex;
    overflow: hidden;
    position: relative;
}
.bg .goal {
    height: 72px;
    display: flex;
}

.car0, .car1, .car2, .car3, .car4 {
    position: absolute;
}

.car4{
    background-image: url("../img/vehicle_0.png");
    width: 42px;
    height: 36px;
    animation: moveLeft 5s 1 linear;
}
.car2{
    background-image: url("../img/vehicle_1.png");
    width: 42px;
    height: 36px;
    animation: moveLeft 5s 1 linear;
}
.car1{
    background-image: url("../img/vehicle_2.png");
    width: 42px;
    height: 36px;
    animation: moveRight 5s 1 linear;
}
.car3{
    background-image: url("../img/vehicle_3.png");
    width: 42px;
    height: 36px;
    animation: moveRight 5s 1 linear;
}
.car0{
    background-image: url("../img/vehicle_4.png");
    width: 70px;
    height: 30px;
    animation: moveLeft 5s 1 linear;
}
.river0, .river1, .river2, .river3, .river4 {
    position: absolute;
}
.river0{
    background-image: url("../img/log_1.png");
    width: 144px;
    height: 32px;
    animation: moveLeft 15s 1 linear;
}
.river1{
    background-image: url("../img/turtle_two_0.png");
    width: 82px;
    height: 32px;
    animation: moveRight 15s 1 linear;
}
.river2{
    background-image: url("../img/log_2.png");
    width: 192px;
    height: 32px;
    animation: moveRight 10s 1 linear;
}
.river3{
    background-image: url("../img/log_0.png");
    width: 96px;
    height: 32px;
    animation: moveLeft 15s 1 linear;
}
.river4{
    background-image: url("../img/turtle_three_0.png");
    width: 124px;
    height: 32px;
    animation: moveRight 15s 1 linear;
}
@keyframes moveRight {
  from {
    transform: translate(-150px, 0px);
  }
  to {
    transform: translate(850px, 0px);
  }
}
@keyframes moveLeft {
  from {
    transform: translate(850px, 0px);
  }
  to {
    transform: translate(-150px, 0px);
  }
}
@keyframes jump_forward {
  0% {
    background-image: url("../img/frog_0.png");
      margin-left: var(--frog-margin);
  }
100% {
    background-image: url("../img/frog_1.png");
    margin-left: var(--frog-margin);
  }
}

@keyframes jump_left {
  0% {
    background-image: url("../img/frog_0.png");
      margin-left: var(--frog-margin);
      transform: rotate(-90deg);
  }
  100% {
    background-image: url("../img/frog_1.png");
      margin-left: var(--frog-margin);
      transform: rotate(-90deg);
  }
}
@keyframes jump_right {
  0% {
    background-image: url("../img/frog_0.png");
      margin-left: var(--frog-margin);
      transform: rotate(90deg);
  }
  100% {
    background-image: url("../img/frog_1.png");
      margin-left: var(--frog-margin);
      transform: rotate(90deg);
  }
}
@keyframes jump_backward {
  0% {
    background-image: url("../img/frog_0.png");
      margin-left: var(--frog-margin);
      transform: rotate(180deg);
  }
100% {
    background-image: url("../img/frog_1.png");
    margin-left: var(--frog-margin);
    transform: rotate(180deg);
  }
}
@keyframes die-on-road{
    0% {
    background-image: url("../img/death_road_0.png");
        margin-left: var(--frog-margin);
        width: 40px;
        height: 40px;
    }
    33%{
    background-image: url("../img/death_road_1.png");
        margin-left: var(--frog-margin);
        width: 40px;
        height: 40px;
    }
    66%{
    background-image: url("../img/death_road_2.png");
        margin-left: var(--frog-margin);
        width: 40px;
        height: 40px;
    }
    100% {
    background-image: url("../img/death_road_3.png");
        margin-left: var(--frog-margin);
        width: 40px;
        height: 40px;
  }
}
.life{
    background: url("../img/life.png");
    width: var(--frog-life);
    height: 17px;
    position: absolute;
}
